<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.collie">

    /
    <application>
        <provider
            android:name=".startup.LauncherHelpProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:multiprocess="true" />
        <receiver android:name=".battery.BatteryLevelReceiver" />
        <service android:name=".startup.HelpService" />
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>