<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.collie">

    <application>
        <receiver android:name="com.snail.kotlin.battery.BatteryLevelReceiver" />
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>